* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    display: flex;
    flex-direction: column;
    text-align: center;
    font-family: "Poppins", serif;

    main {
        height: 300vh;
    }
}
