// PAGE - PRODUCTS

// MAIN
.main-products {
    .main-header {
        @include main-header;
        
        .filters {
            width: 150px;
    
            .form-select {
                height: 100%;
                border-radius: 25px;
                border: 1px solid black;
            }
        }
    }

    .products-footer {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-bottom: 2rem;

        .product-section {
            display: flex;
            flex-direction: column;
            justify-content: center;
        
            .section-title {
                text-align: left;
                text-transform: uppercase;
                color: black;
                margin: 0;
                padding: 1rem .5rem;
            }
        
            .products-grid {
                width: 100%;
                max-width: 1200px;
                display: grid;
                grid-template-columns: repeat(2, 1fr);
                gap: .5rem;
                padding: 0 .5rem;

                .product-card-link {
                    color: $ColorTextFooter;
                    text-decoration: none;
        
                    .product-card {
                        width: 100%;
                        display: flex;
                        flex-direction: column;
                        background-color: $ColorFondo2;
                        border: 1px solid $ColorFondo;

                        .product-card-header {
                            height: 170px;
                            padding: 0;
        
                            .img-product {
                                height: 100%;
                                width: 100%;
                                object-fit: cover;
                                overflow: hidden;
                            }
                        }
        
                        .product-card-footer {
                            height: 130px;
                            display: flex;
                            flex-direction: column;
                            justify-content: start;
                            align-items: start;
                            padding: .5rem;
        
                            .product-card-footer__price {
                                font-size: 15px;
                                font-weight: bold;
                                margin-bottom: .5rem;
                            }
        
                            .product-card-footer__title {
                                font-size: 17px;
                                text-align: left;
                            }
        
                            .product-card-footer__descrit {
                                font-size: 12px;
                                margin: 0;
                            }
                        }
                    }
                }
            }
        }
    }


    /* Responsive: Para tablets (≥ 600px) */
    @media (min-width: 600px) {

        .main-header {
            flex-direction: row;
            justify-content: center;

            .main-header__bot {
                .filters {
                    margin: 0;
                }
            }
        }

        .products-grid {
            grid-template-columns: repeat(3, 1fr) !important; /* 3 columnas */
        }
    }

    /* Responsive: Para pantallas grandes (≥ 900px) */
    @media (min-width: 900px) {


        
        .products-grid {
            grid-template-columns: repeat(4, 1fr) !important; /* 4 columnas */
        }
    }

    /* Responsive: Para pantallas grandes (≥ 1200px) */
    @media (min-width: 900px) {
        .products-grid {
            grid-template-columns: repeat(6, 1fr) !important; /* 6 columnas */
        }
    }
}