$ColorFondo: #191919;
$ColorFondo2: #2a2a2a;
$ColorText: #fff;
$ColorTextFooter: rgb(200, 200, 200);

// Variable para boton general.
$fondo-color-boton: #fff;
$text-color-boton: #191919;


// Variables para formulario.
$fondo-color-formulario: #191919;
$text-color-formulario: #fff;
$fondo-color-boton-formulario: #fff;
$text-color-boton-formulario: #191919;

// Variables para carrito.
$fondo-color-carrito: #191919;
$text-color-carrito: #fff;
$text-color-carrito-contraste: #191919;